/* Mouse pointers for different states
------------------------------------------------------------------------------ */

.olMapViewport.olControlDragPanActive  {
	cursor: move;
}

.olMapViewport.olControlDrawFeaturePointActive {
	cursor: crosshair;
}

/* Map Controls
------------------------------------------------------------------------------ */
.olControlPanel  {
	position: absolute;
	right: 7px;
	top: 7px;
	font-size: 11px;
	box-shadow: 1px 1px 3px #666;
	-webkit-box-shadow: 1px 1px 3px #666;
	-moz-box-shadow: 1px 1px 3px #666;
	/* Otherwise button hover transparency does not work well */
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.olControlPanel div {
	display: inline-block;
	background: #fff;
	color: #333;
	padding: 3px 10px;
	border: 1px solid #C9C9C9;
	/* Take that, stupid Openlayers on IE */
	min-height: 19px;
	min-width: 61px;
}

/* Navigation item */
.olControlPanel .olControlNavigationItemInactive,
.olControlPanel .olControlNavigationItemActive {
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	border-right: none;
}

/* New point item */
.olControlPanel .olControlDrawFeaturePointItemActive,
.olControlPanel .olControlDrawFeaturePointItemInactive  {
	background: #ebebeb;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}


/* Inactive states */
.olControlPanel .olControlNavigationItemInactive,
.olControlPanel .olControlDrawFeaturePointItemInactive {
	background: #F4F4F4; /* old browsers */
	background: -moz-linear-gradient(top, #F4F4F4 0%, #DADADA 50%, #E7E7E7 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(50%,#DADADA), color-stop(100%,#E7E7E7)); /* webkit */
	color: #333;
	cursor: pointer;
}

	.olControlPanel .olControlNavigationItemInactive:hover,
	.olControlPanel .olControlDrawFeaturePointItemInactive:hover {
		background: #F4F4F4; /* old browsers */
		background: -moz-linear-gradient(top, #F4F4F4 0%, #EBEBEB 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(100%,#EBEBEB)); /* webkit */
		color: #000;
	}

/* Active states */
.olControlPanel .olControlNavigationItemActive,
.olControlPanel .olControlDrawFeaturePointItemActive {
	background: #fff;
	color: #666;
}