/* Mouse pointers for different states
------------------------------------------------------------------------------ */

.olMapViewport.olControlDragPanActive  {
	cursor: move;
}

.olMapViewport.olControlDrawFeaturePointActive {
	cursor: crosshair;
}


/* Map Controls
------------------------------------------------------------------------------ */

.olControlPanelCMTLSPanel {
	position: absolute;
	right: 7px;
	top: 7px;
	font-size: 11px;
	box-shadow: 3px 0 3px #bbb;
	-webkit-box-shadow: 3px 0 3px #bbb;
	-moz-box-shadow: 3px 0 3px #bbb;
}

	.olControlPanelCMTLSPanel .selected {
		background: #fff;
	}
	

/* Map Tooltip
------------------------------------------------------------------------------ 	*/
/* On-map text "for new point, click on map */
#cmtls-map-tooltip {
	z-index: 2000;
	position: absolute;
	left: 55px;
	top: 8px;
	display: block;
	padding: 3px 10px;
	font-size: 12px;
	color: #fff;
	background-color: #3D892F;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}	

#cmtls-map-layer-switcher {
	z-index: 2000;
	position: fixed;
	right: 12px;
	top: 138px;
	padding: 15px;
	font-size: 11px;
	background-color: #fff;
	border: 1px solid #ddd;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 3px 3px 3px #bbb;
	-webkit-box-shadow: 3px 0 3px #bbb;
	-moz-box-shadow: 3px 0 3px #bbb;
	opacity: 0.85;
	filter:alpha(opacity=85);	
}

	#cmtls-map-layer-switcher ul {
		margin: 0;
	}

		#cmtls-map-layer-switcher ul ul {
			margin-left: 19px;
		}

	#cmtls-map-layer-switcher li {
		list-style: none;
	}


#cmtls-map-layer-switcher.hidden {
	display: none;
}	
