/* Text-blocks
------------------------------------------------------------------------------ */
.node-head {
	font-size: 12px;
	padding-bottom: 4px;
}

	.node-head h1 {
		margin-bottom: 3px;
		display: block;
	}

.node-content {
	margin-top: 7px;
}

	.node-content p {
		margin-bottom: 15px;
	}

.text-only node-content {
	-moz-column-width: 300px;
	-webkit-column-width: 300px;
	-moz-column-gap: 25px;
	-webkit-column-gap: 25px;
	-moz-column-rule: 1px solid #ccc;
	-webkit-column-rule: 1px solid #ccc;
}

.node-footer {
	font-size: 12px;
}

/* Text-node common widgets
------------------------------------------------------------------------------ */

/* Author */
.meta-author {
	display: inline;
	font-size: 12px;
}

.meta-author a.avatar {
	margin-top: 2px;
}

.meta-author a.avatar:hover {
	border: none;
}

.meta-author img.avatar {
	display: inline;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 1px;
}

/* Timestamp */
.meta-time {
	display: inline;
	color: #777;
	font-size: 12px;
}

/* Tags */
.meta-tags {
	display: inline-block;
	padding-left: 20px;
	background: url('../images/tags.png') no-repeat 0 2px;
	color: #777;
	font-size: 12px;
}


/* Social media share */
.meta-share {
	display: inline;
	font-size: 12px;
}
	/* Facebook like */
	.meta-share iframe {
		margin-bottom: -6px;
	}


/* Address and geo info */
.meta-address {
	display: inline;
	color: #777;
	float: right;
	font-size: 12px;
	max-width: 150px;
	height: 1.5em;
	overflow: hidden;
	white-space: nowrap;
}

.meta-geo {
	display: inline;
	margin-left: 3px;
	float: right;
}

	.meta-geo a img {
		margin-bottom: -3px;
	}

	.meta-geo img {
		cursor: pointer;
	}

/* Status */
.meta-status {
	display: inline;
	background: #888;
	padding: 1px 4px 2px 4px;
	color: #fff;
	font-size: 11px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Attached files */

.meta-files {
	margin-bottom: 15px;
}

.meta-file {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #E2E2E2;
    height: 52px;
    width: 52px;
    padding: 4px;
    display: inline-block;
    margin: 0 5px 8px 0;
}

	.meta-file a,
	.meta-file a:hover {
		border: none;
	}

		.meta-file a img {
			height: 52px;
			width: 52px;
		}

/* Comments
------------------------------------------------------------------------------ */

a.comments-button {
		padding-left: 20px;
		background: url('../images/comments.png') no-repeat 0 0;
	}

		a.comments-button:hover {
			border: none;
		}


.comments-container {
	margin-top: 10px;
	position: relative;
}

	.comments-container .comment {
		border-top: 1px solid #ccc;
		margin: 0;
		padding: 5px 0;
		min-height: 40px;
	}

	.comments-container .comment #edit-comment-wrapper.form-item {
		margin-top: 0 !important;
	}

		.comments-container .comment #edit-comment-wrapper.form-item textarea.form-textarea {
			margin-top: 0;
		}

	.comments-container .comment.authors-comment {
		background: #fafafa;
	}

		.comments-container .comment .avatar {
			float: left;
		}

		.comments-container .comment .avatar img {
			display: block;
		}

		.comments-container .comment .comment-content {
			margin-left: 50px;
			font-size: 12px;
		}

			.comments-container .comment .comment-content .author {
				display: inline;
				margin: 0;
			}

			.comments-container .comment .comment-content .comment-text {
				font-weight: normal;
				color: #333;
			}

			.comments-container .comment .comment-content .comment-text p {
				margin: 0;
			}

			.comments-container .form-item {
				padding: 0 0 0 50px;
				margin-top: -5px;
			}

				.comments-container .form-item label {
					display: none;
				}

				.comments-container textarea.form-textarea {
					border: 1px solid #ccc;
					padding: 5px;
					height: 50px;
					margin-top: 5px;
					font-size: 12px;
				}

					.comments-container textarea:focus {
						border: 2px solid #AED9A7;
						padding: 4px;
					}

				.comments-container .form-submit {
					margin: -5px 0 0 50px;
				}


	.comment:hover .comment-delete-button {
		display: block;
		float: right;
		width: 15px;
		height: 15px;
		padding: 0;
		background: url(../images/deletebutton.png) 0px 0px no-repeat;
		border-bottom: none;
		margin: 3px 0 0 0;
	}
	.comment:hover .comment-delete-button:hover {
		background: url(../images/deletebutton.png) 0px -15px no-repeat;
	}

	.forum tr:hover .comment-delete-button {
		display: block;
		float: right;
		width: 15px;
		height: 15px;
		padding: 0;
		background: url(../images/deletebutton.png) 0px 0px no-repeat;
		border-bottom: none;
		margin: 5px 0 0 0;
		clear: both;
	}
	.forum tr:hover .comment-delete-button:hover {
		background: url(../images/deletebutton.png) 0px -15px no-repeat;
	}

/* Stances
------------------------------------------------------------------------------ */

.stance-container {
	font-size: 12px;
	margin-top: 10px;

}
	.stance-container .stance {
		padding: 5px 0px;
		border-top: 1px solid #ccc;
	}

		.stance-container .stance h2 {
			display: inline;
			font-size: 12px;
		}


	.stance-container .form-radios {
		margin: 0;
	}

		.stance-container .form-radios .form-item {
			display: inline-block;
		}

	.stance-container .form-radios .form-item {
		display: inline-block;
	}



/* Content Toolbar - includes content add button and filter button
------------------------------------------------------------------------------ */
.content-toolbar {
	display: block;
	margin: -25px -25px 10px -25px;
	padding: 25px 25px 15px 25px;
	background: #F6F6F6;
	background: -moz-linear-gradient(center top , #ffffff, #EFEFEF);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#EFEFEF));
	border-bottom: 1px solid #ECECEC;
}

	.content-toolbar .toolbar-description {
		float: left;
		color: #777;
		font-size: 13px;
	}

	.content-toolbar .cmtls-button {
		font-size: 11px;
	}

	.content-toolbar h1 {
		display: inline-block;
		margin: 0 10px 0 0;
		vertical-align: middle;
		color: #777;
		font-size: 22px;
		text-shadow: 0 1px 0 #FFFFFF;
	}

	.content-toolbar ul {
		display: inline-block;
		margin: 0;
	}

		.content-toolbar ul li {
			list-style-type: none;
		}

	.content-toolbar .toolbar-buttons {
		font-size: 11px;
		display: inline-block;
		float: right;
	}

	.content-toolbar ul.toolbar-tabs {
		margin: 0 0 -16px 0;
		padding: 0;
		font-size: 12px;
		font-weight: bolder;
		display: block;
	}

		.content-toolbar ul.toolbar-tabs li {
			display: inline-block;
			padding: 3px 10px 3px 10px;
		}

			.content-toolbar ul.toolbar-tabs li.selected {
				border-left: 1px solid #ECECEC;
				border-top: 1px solid #ECECEC;
				border-right: 1px solid #ECECEC;
				-moz-border-radius: 3px 3px 0 0;
				-webkit-border-radius: 3px 3px 0 0;
				border-radius: 3px 3px 0 0;
				background: #fff;
			}

				.content-toolbar ul.toolbar-tabs li a,
				/* Drupal somehow always adds active class to this link, so we need to override it */
				.content-toolbar ul.toolbar-tabs li a.active {
					color: #777;
				}

				.content-toolbar ul.toolbar-tabs li a:hover {
					color: #2786C2;
				}


				.content-toolbar ul.toolbar-tabs li.selected a:hover {
					color: #777;
				}


/* Content filter
------------------------------------------------------------------------------ */
.content-filter {
	padding: 20px;
	margin-top: 10px;
	background: #f6f6f6;
	border: 1px solid #E3E3E3;
	font-size: 12px;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
	.content-filter .pre-defined {
		text-align: center;
	}

	.content-filter table.filter-fields {
		margin-top: 10px;
		display: inline-block;
	}

		.content-filter table.filter-fields td {
			padding: 0 10px 5px 0;
			text-align: left;
		}

		.content-filter table.filter-fields th {
			text-align: right;
			white-space: nowrap;
		}

	.content-filter .form-item {
		margin: 0 !important;
	}


	.content-filter label {
		padding-right: 5px;
	}


	.content-filter .form-item input.form-text,
	.content-filter .form-item select.form-select {
			border: 1px solid #ccc;
			padding: 2px;
			font-size: 12px;
			background: #fff;
			margin-right: 0;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
	}
		.content-filter .form-item input.form-text:focus {
			border: 2px solid #AED9A7;
			padding: 1px;
		}

	.content-filter input.form-submit {
		font-size: 10px;
	}

.labeled-hr {
	text-align: center;
	margin: 5px 0;
}
	.labeled-hr span {
		background-color: #f6f6f6;
		text-align: center;
		color: #888;
		padding: 0 8px;
	}
	.labeled-hr hr {
		background: none repeat scroll 0 0 #D9D9D9;
		border-width: 0;
		color: #D9D9D9;
		height: 1px;
		margin-top: -9px;
	}


/* Text Nodejavascript:void(0);
------------------------------------------------------------------------------ */
.text-node {
	position: relative;
	border-bottom: 1px solid #E7E7E7;
	margin: 8px -25px 0 -25px;
	padding: 10px 25px;
}

	#text-container .text-node:last-child {
		border-bottom: none;
	}

	.text-node h1 a {
		color: #333;
	}

	.text-node h1 a:hover {
		color: #2786C2;
	}

	.text-node .text-node-list-item {
		font-size: 12px;
	}

		.text-node .text-node-list-item h1 {
			font-size: 20px;
		}

		.text-node .text-node-list-item p {
			margin: 5px 0 0 0;
			display: inline-block;
		}

/* Content grouping
-------------------------------------------------------------- */
.content-group-header {
	padding: 15px 0 0 0;
	margin: 0 0 -8px -25px;
	font-size: 11px;
	font-weight: bold;
	clear: both;
	color: #555;
	text-transform: uppercase;
}

	.content-group-header span {
		background: #EBEBEB;
		padding: 5px 10px 3px 25px;
		-moz-border-radius: 0 3px 0 0;
		-webkit-border-radius: 0 3px 0 0;
		border-radius: 0 3px 0 0;
	}

	.content-group-header a {
		color: #555;
	}

	.content-group-header a:hover {
		color: #2786C2;
	}



/* Event Item
-------------------------------------------------------------- */

/* TODO: This line is maybe not needed, search from code... */
.text-node .content .event-header {
	font-size: 12px;
}


h1 span.date {
	color: #999;
	font-size: 16px;
}

/* Problem Item
------------------------------------------------------------------------------ */
.meta-problem-status {
	display: inline-block;
	color: #777;
	padding-left: 16px;
}

.meta-problem-status.open {
	background: url(../images/problem-status-bullets.png) no-repeat 0 4px ;
}
.meta-problem-status.closed {
	background: url(../images/problem-status-bullets.png) no-repeat 0 -16px;
}

/* Group overview
-------------------------------------------------------------- */
.group-overview {}

.group-overview .group-tool {
	border-top: 1px solid #E7E7E7;
	padding: 10px 0;
}

	.group-overview .group-tool:first-child {
		border-top: none;
	}

	.group-overview .group-tool .group-name {
		width: 175px;
		float: left;
		margin-right: 20px;
		font-weight: bold;
	}

	.group-overview .group-tool .group-posts {
		width: 200px;
		float: left;
		margin-right: 20px;
	}

	.group-overview .group-tool .group-comments {
		float: left;
	}


/* Rich Text
-------------------------------------------------------------- */

.cke_show_borders p {
	margin-bottom: 15px;
}
