.dashboard-1 {
	width: 60%;
	margin: 0 20px 20px 0;
	float: left;
}

	.text-map .dashboard-1 {
		width: 100%;
		margin: 0 20px 20px 0;
		float: left;
	}

.dashboard-item {
	border: 5px solid #f2f2f2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}

	.dashboard-item .content {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		position: relative;
		margin-bottom: -1px;
		border: 1px solid #ccc;
	}

		.dashboard-item .content .title {
			-moz-border-radius-topleft: 3px;
			-border-top-left-radius: 5px;
			border-top-left-radius: 5px;
			background: #3C8A2E;
			color: #fff;
			display:inline-block;
			font-size: 10px;
			line-height: 1;
			padding: 7px 8px 5px 10px;
			text-transform: uppercase;
			font-weight: bold;
		}

		.dashboard-item .content a.see-all-link {
			position: absolute;
			right: 5px;
			top: 5px;
			font-size: 12px;
		}

		.dashboard-item .content .item {
			border-bottom: 1px dotted #ccc;
			font-size: 12px;
			position: relative;
			padding: 5px 100px 5px 10px;
		}

				.dashboard-item .content .author {
					display: inline;
					margin-left: 5px
				}

				.dashboard-item .content .avatar {
					float: left;
				}

			.dashboard-item .content .item h1 {
				font-size: 15px;
				display: inline;
			}

			.dashboard-item .content .item .date {
				position: absolute;
				right: 5px;
				top: 5px;
				color: #999;
			}

				.dashboard-item .content .item .date em {
					font-style: normal;
				}

			.dashboard-item .content .item .location {
				-moz-border-radius-bottomleft: 5px;
				-webkit-border-bottom-left-radius: 5px;
				border-bottom-left-radius: 5px;
				background: #e2e2e2;
				color: #333;
				font-size: 10px;
				line-height: 1;
				font-weight: bold;
				position: absolute;
				right: 0;
				top: 0;
				padding: 2px 2px 3px 2px;
			}

				.dashboard-item .content .item .location .address {
					display: none;
					padding-left: 5px;
				}

					.dashboard-item .content .item .location:hover .address {
						display: inline-block;
					}

				.dashboard-item .content .item .location .icon {
					background:url("../img/location-icon-10.png") no-repeat scroll 0 0;
					display:inline-block;
					height: 10px;
					width: 10px;
				}

			.dashboard-item .content .item .lead {
				position: absolute;
				background: #F0EFEC;
				color: #333;
				display: none;
				border-left: 1px dotted #ccc;
				border-right: 1px dotted #ccc;
				border-bottom: 1px dotted #ccc;
				width: 60%;
				padding: 0 10px 10px 10px;
				z-index: 50;
				margin-top: 5px;
				font-size: 12px;

				box-shadow: 2px 2px 10px #e2e2e2;
				-webkit-box-shadow: 2px 2px 10px #e2e2e2;
				-moz-box-shadow: 2px 2px 10px #e2e2e2;
			}

				.dashboard-item .content .item:hover .lead {
					display: inline-block;
				}

		.dashboard-item .content .gallery-container {
			padding: 12px 5px 5px 12px;
		}

			.dashboard-item .content .gallery-container .gallery-item {
				width: 95px;
				height: 95px;
				border: 1px dotted #ccc;
				display: inline-block;
				margin: 0 10px 10px 0;
			}

				.dashboard-item .content .gallery-container .gallery-item .object-icon img {
					width: 95px;
					height: 95px;
				}

				.dashboard-item .content .gallery-container .gallery-item .object-caption {
					font-size: 12px;
				}

.dashboard-2 {
	width: 36%;
	float: left;
}

	.text-map .dashboard-2 {
		width: 100%;
		margin: -20px 20px 20px 0;
		float: left;
	}

	.dashboard-item .content .comment-item {
		font-size: 12px;
		padding: 5px 100px 5px 10px;
		border-bottom: 1px solid #ccc;
		position: relative;
	}

		.dashboard-item .content .comment-item:hover {
		}

		.dashboard-item .content .comment-item .author {
			display: inline;
			margin-left: 5px
		}

		.dashboard-item .content .comment-item .avatar {
			float: left;
		}

		.dashboard-item .content .comment-item .date {
			position: absolute;
			right: 5px;
			top: 5px;
			color: #999;
		}

			.dashboard-item .content .comment-item .date em {
				font-style: normal;
			}