/* Dashboard
------------------------------------------------------------------------------ */
.cmtls-dashboard-container {
	font-size: 12px;
}

	.cmtls-dashboard-container .text-node {
		border-top: 1px solid #E7E7E7;
		border-bottom: none;
		min-width: 500px;
	}


	.cmtls-dashboard-container .text-node .dashboard-item {
		border-bottom: 1px dotted #ddd;
		padding: 3px 0;
	}

		.cmtls-dashboard-container .text-node .dashboard-item .dashboard-meta {
			color: #999;
		}
		
		.cmtls-dashboard-container .text-node .dashboard-item .dashboard-meta a {
			color: #999;
			border-bottom: 1px dotted #ddd;
			padding-bottom: 0;
		}		

		.cmtls-dashboard-container .text-node .dashboard-item .dashboard-meta a:hover {
			border-bottom: 1px dotted #2786C2;
		}		

.cmtls-dashboard-container .dashboard-main {
	max-width: 500px;
	float: left;
}

.cmtls-dashboard-container .dashboard-widgets  {
	float: left;
}

#content.text-only .cmtls-dashboard-container .dashboard-main {
	margin-right: 60px;
}

#content.text-only .cmtls-dashboard-container .dashboard-widgets {
	max-width: 330px;
}