/* Buttons
-------------------------------------------------------------- */
input.form-submit {
	font-size: 12px;
	font-weight: bolder;
}

	/* Form submits, modalframe mostly */
	.node-form input#edit-submit.form-submit,
	#user-register input#edit-submit.form-submit,
	#user-login input#edit-submit.form-submit,
	#user-profile-form input#edit-submit.form-submit,
	#cmtls-map-choose-app-form input#edit-submit.form-submit,
	#cmtls-stuff-send-request-form input#edit-submit.form-submit,
	#cmtls-member-send-email-form input#edit-submit.form-submit {
		font-size: 15px;
		background: url("jquery.ui/images/ui-bg_green.png") repeat-x scroll 50% 50% #4CA20B;
		color: #fff;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

/*
.cmtls-button-filter {
	background: none !important;
	border: 1px solid transparent !important;
}

.cmtls-button-filter.ui-state-hover {
    background: url("jquery.ui/images/ui-bg_highlight-hard_75_ebebeb_1x100.png") repeat-x scroll 50% 50% #EBEBEB !important;
    border: 1px solid #D3D3D3 !important;
}
*/

/* General form elements
-------------------------------------------------------------- */

.modalframe.ui-widget-content {
	background: #f2f2f2;
}

.form-item {
	margin: 1em 0 !important;
}

	.form-item h1 {
		font-size: 24px;
		font-weight: bold;
		color: #333;
	}

	.form-item input.form-text,
	.form-item textarea.form-textarea,
	.form-item select.form-select {
		border: 1px solid #ccc;
		border-top: 1px solid #888;
		border-left: 1px solid #aaa;
		padding: 4px;
	}

		.form-item input.form-text:focus,
		.form-item textarea.form-textarea:focus,
		.form-item select.form-select:focus {
			border: 2px solid #AED9A7;
			padding: 3px;
		}


			.form-item input.form-text.error:focus,
			.form-item textarea.form-textarea.error:focus,
			.form-item select.form-select.error:focus {
				border: 2px solid red;
				padding: 4px;
			}


	.form-item select.form-select {
		padding: 2px;
	}

		.form-item select.form-select:focus {
			padding: 1px;
		}

	.form-item textarea.form-textarea {
		height: 150px;
		margin-bottom: 5px;
	}

	.form-item .description {
		display: inline-block;
		color: #9a9a9a;
		font-size: 0.78em !important;
	}


	.form-item .form-radios,
	.form-item .form-checkboxes {
		margin: 0;
	}

		.form-item .form-radios .form-item,
		.form-item .form-checkboxes .form-item {
			display: inline-block;
			margin: 0.6em 0 0 !important;
		}

/* Fieldsets / Field groups
-------------------------------------------------------------- */
fieldset.collapsible {
	border-top: 1px solid #ccc;
}

	fieldset.collapsible legend a {
		font-weight: bold;
		padding: 0 5px;
	}


/* Specific form elements
-------------------------------------------------------------- */

/* Make post titles more importannt */
#edit-title-wrapper input {
	font-weight: bolder;
	font-size: 19px;
}

/* Put some labels left */
#edit-field-cmtls-idea-status-value-wrapper label {
	display: inline-block;
}

/* Login */

#user-login {
	margin-bottom: 15px;
}

#user-login input {
	font-size: 18px;
}


#user-login #external-authentication input {
	border: none;
}

#user-login #password-remind-link, #user-login #register-link {
	display: inline-block;
	padding-right: 10px;
}


/* Stuffarium */

#cmtls-stuff-send-request-form {}

	#cmtls-stuff-send-request-form #edit-until-wrapper label {
		display: inline;
	}

#cmtls-stuff-accept-request-form textarea,
#cmtls-stuff-deny-request-form textarea {
	height: auto;
}


/* reposition Drupal's default ajax gif for our input height */
.form-item input.form-autocomplete {
	background-position: 100% 8px !important;
}

	.form-item input.form-autocomplete:focus {
		background-position: 100% 7px !important;
	}

.form-item input.form-autocomplete.throbbing:focus {
	background-position: 100% -13px !important;
}


/* File uploads in edit forms
-------------------------------------------------------------- */
#field-cmtls-files-items {
	margin-bottom: 15px;
}

	#field-cmtls-files-items table thead th {
		font-weight: bold;
	}

	#field-cmtls-files-items table td.content-multiple-drag a.tabledrag-handle {
		padding: 18px 8px 0 18px;
	}

	#field-cmtls-files-items .widget-preview .filemime {
		display: none;
	}

	#field-cmtls-files-items .widget-edit {
		max-width: 100%;
		padding-right: 10px;
	}

		#field-cmtls-files-items .widget-edit .form-item {
			margin: 0 !important;
			display: inline-block;
		}

			#field-cmtls-files-items .widget-edit .form-item label,
			#field-cmtls-files-items .widget-edit .form-item input {
				display: inline-block;
			}

			#field-cmtls-files-items .widget-edit .form-item input.form-text {
				width: 15em;
			}

	#field-cmtls-files-items .content-add-more {
		margin-top: 15px;
	}


/* Events */
.container-inline-date.date-clear-block {
	display: inline-block !important;
}


/* To hide "Show summary in full view" */
.teaser-checkbox {
	display: none !important;
}

/* WYSIWYG
-------------------------------------------------------------- */
.cke_show_borders table {
	border-collapse: separate;
}

/* Textarea resize
-------------------------------------------------------------- */
.resizable-textarea .grippie {
	height: 5px !important;
	border: none;
}

/* Multiple file upload, in gallery
-------------------------------------------------------------- */
#upload-buttons {
	font-size: 12px;
}

#add-files {
    margin-right: 10px;
}

	#add-files .swfupload {
		left: 0;
		position: absolute;
		top: 0;
	}


/* Choose application after clicking on map for creating new point
-------------------------------------------------------------- */
#cmtls-map-choose-app-form {
	font-size: 18px;
	margin-top: -1em;
}

	#cmtls-map-choose-app-form .form-radios {
		padding-top: 0;
		margin-top: 0;
	}

		#cmtls-map-choose-app-form .form-radios .form-item {
			display: inline-block;
		}


/* Modalframe itself
-------------------------------------------------------------- */

.modalframe .ui-dialog-title {
	white-space: normal;
	line-height: 1.1;
}

.modalframe-page-container {
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.upload-progressbar-wrapper {
	padding: 2px;
	border:3px solid #ccc;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.upload-progressbar {
	width:0;
	height:20px;
	background:#ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.upload-status-message {
	text-align:center
}


.ol-map-input-widget {
	border: 1px solid #ccc;
	padding: 10px;
	width: 300px
}

.ol-map-input-widget input {
	background-image: none !important;
}

.openlayers-cck-hide-link, .wysiwyg-toggle-wrapper {
	display: none;
}

.form-column{
	width: 50%;
	}
	#external-authentication {
		float: left;
		text-align:center;
		width: 200px;
		padding-top: 12px;
		}
		#external-authentication div.form-item{
			margin:1em 0
		}
	#internal-authentication {
		float: right;
	}
	.form-column input.form-text {
		width: 80%;
	}

/* Datepicker
-------------------------------------------------------------- */

.ui-datepicker-div, .ui-datepicker-inline, #ui-datepicker-div {
	padding: 5px !important;
}

.ui-datepicker-next,
.ui-datepicker-prev {
    background: transparent none !important;
}

.ui-datepicker-next {
    left: 13.36em !important;
}

#ui-datepicker-div, #ui-datepicker-div table, .ui-datepicker-div, .ui-datepicker-div table, .ui-datepicker-inline, .ui-datepicker-inline table {
    font-size: 11px !important;
}

/* Hide CKEditor's technical notice for superuser
-------------------------------------------------------------- */
.textarea-identifier.description {
	display: none;
}